.titulo{
    font-size: 24pt;
    text-align: center;
}
.subtitulo{
    font-size: 18pt;
    text-align: center;
}
.lista{
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
    text-decoration: none;
}
.botao{
    justify-content: center;
    display: flex;

}
#botao{
    background-color: blanchedalmond;
    padding: 12px;
}