.login{
    background-color: orange;
    color: white;
    text-align: center;
}

.butao{
    background-color: orange;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 15px;
}