.container{
    background-color: red;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.item1{
    width: 25%;
    height: 50px;
    background-color: blue;
}

.item2{
    width: 25%;
    height: 50px;
    background-color: rgb(199, 18, 18);
}

.item3{
    width: 25%;
    height: 50px;
    background-color: rgb(39, 216, 63);
}