*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
}
   

body{
     background-color: black;
}


header{
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .50s;
}

.logo{
    color: white;
    font-size: 41px;
    font-weight: 600;
}
.logo span{
    color: orange;
}

.navbar{
    display: flex;
}
.navbar a {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 0 25px;
    transition: all ease .55s;
}
.navbar a:hover{
    color: orange;
}

.externo a {
    font-size: 20px;
    font-weight: 600;
    color: rgb(194, 112, 6);
    margin: 0 25px;
    transition: all ease .999s;
}
section{
    padding: 0 15%;
}

.wawe{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.wawe-img{
    padding-top: 5%;
    padding-left: 8%;
    width: 440px;
    height: 440px;
}
.wawe-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#wawe-texto span{
    padding: 5px 25px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    color: white;
    font-weight: 700;
    font-size: 14pt;
    text-transform: uppercase;
}
#wawe-texto h1{
    font-size: 30pt;
    margin:23px 0;
    color: orange;
}
#wawe-texto p{
    font-size: 12pt;
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}
.btn{
    display: inline-block;
    padding: 14px 34px;
    background-color: orange;
    color: white;
    border: 2px solid orange;
    font-size: 16px;
    justify-content: space-between;
}

.botoes a:hover{
    color: rgb(184, 30, 30);
    
}